body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.background-image   {
    background: url('./images/bird.jpg') no-repeat center center fixed;
    opacity: .50;
    width: 150vh;
    
}

.maintxt {
    position: relative;
    height: 100px;
}
.maintxt > img, .overlay-text {
    position: absolute;
}

.overlay-text {
    padding: 50px 50px;
}